@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;600&family=Sawarabi+Mincho&display=swap');

body{
    background-color: #4a257a;
    color: #ffffff;
    font-family: 'Sawarabi Mincho', serif;
    margin: 200px;
}

body {
    padding: 20px;
    font-size: 16px;
  }
  
  /* モバイルデバイス用のスタイル */
  @media (max-width: 768px) {
    body {
        padding: 10px;
        font-size: 14px;
        margin: 10px
    }
  
    footer {
        position: relative; /* モバイルでは固定位置を解除する */
        width: auto; /* 自動で幅を調整 */
        padding: 5px 10px; /* モバイル用の余白 */
    }
  
    .update-date {
        font-size: 12px; /* モバイル用のフォントサイズ */
    }
  }
  
    /**
     * Render the `main` element consistently in IE.
     */
    
    main {
      display: block;
    }
  
  .container {
      display: flex;
      flex-direction: column;
  }

img {
    max-width: 100%; /* 画像がコンテナより大きくならないようにする */
    height: auto; /* 画像の高さを自動調整してアスペクト比を保持 */
}
  
  @media (min-width: 768px) {
      .container {
          flex-direction: row;
      }
  }
a:link{color: #ffffff;}
a:visited{color: #ffffff;}

div.top{
    margin: 0 auto;
    max-width: 1200px;
    border-bottom: solid 1px #ffffff;
}

footer{
    margin: 0 auto;
    margin-top: 20px;
    max-width: 1200px;
    padding-top: 15px;
    text-align: center;
    border-top: solid 1px #ffffff;
}
@media screen and (max-width:480px) {
    div.top {
        margin: 0 6%;
    }	

    footer {
        margin: 10px 3%;
    }
}